*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #81689D;
  --secondary: #474F7A;
  --secondary-600: #424970;
  --pink: #FFD0EC;
  --dark: #1F2544;
  --white: #f8fafc;
  --black: #121212;
  --grey: #6b7280;

  --view-width: 90vw;
  --max-width: 1120px;
  --fixed-width: 600px;
}

body {
  background: var(--white);
}

a {
  text-decoration: none;
}

.page {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5rem 2rem;
}